@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Regular.ttf') format('truetype')
}

body {
    font-family: 'Source Serif Pro', serif;
}

:root {
    --mdb-primary-color: #E85670 !important;
    --mdb-primary: #E85670 !important;
    --mdb-accordion-active-color: #E85670 !important;
    --mdb-link-color: #E85670 !important;
    --mdb-accordion-btn-focus-border-color: #E85670 !important;
}

.accordion-button:not(.collapsed) {
    color: var(#E85670);
}

.accordion {
    --mdb-accordion-active-color: #E85670;
    --mdb-accordion-btn-focus-border-color: #E85670;
}

.list-group-light {
    --mdb-list-group-light-active-color: #E85670;
}

.list-group {
    --mdb-list-group-hover-color: #E85670;
}

a:hover {
    color: #E85670;
    text-decoration: none;
}
.form-outline input:focus {
    outline-color: #E85670;
  }

  .form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-color: #e0e5ee;
    box-shadow: -1px 0 0 0 #E85670, 0 1px 0 0 #E85670, 0 -1px 0 0 #E85670;
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-color: #E85670;
    box-shadow: 0 1px 0 0 #E85670;
    border-top: 1px solid transparent;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: #E85670;
    box-shadow: 1px 0 0 0 #E85670, 0 -1px 0 0 #E85670, 0 1px 0 0 #E85670;
}

.form-outline .form-control:focus~.form-label {
    color: #E85670;
}

.form-select:focus {
    border-color: #E85670;
    outline: 0;
    box-shadow: inset 0 0 0 1px #E85670;
}